.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #000;
    width: 40%;
    height: 80%;
}

label {
    display: block;
}

input {
    border: none;
    background-color: lightgrey;
    height: 50px;
    width: 30vw;
    border-radius: 10px;
    margin: 5px 0;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.submitBtn {
    margin-top: 15px;
    height: 50px;
    width: 31vw;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
}

.submitBtn:active {
    border: solid 1px #000;
}