* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panelOne {
    position: absolute;
    left: 0;
    width: 55vw;
    height: 100vh;
    border: solid 1px black;
}

.shiftPanelOne {
    position: absolute;
    right: 0;
    width: 55vw;
    height: 100vh;
    border: solid 1px black;
}

.signInForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.panelTwo {
    right: 0;
    position: absolute;
    border: solid 1px blue;
    width: 45vw;
    height: 100vh;
}

.shiftPanelTwo {
    left: 0px;
    position: absolute;
    border: solid 1px blue;
    width: 45vw;
    height: 100vh;
}

.createAccountContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.alreadyHaveAccountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}






